body {
    background-color: black;
    font-family: Tahoma;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: chocolate;
    color: white;
    border: dashed black ;
    padding: 0.3rem 0.7rem;
    
}

ul { /*padre*/
    display: flex; /* que sea flexible los elementos*/
    flex-direction: row; /*Diciendo que la direcion sea columnas*/
    justify-content: center; /*diciendo como justificara el contenido*/
    flex-wrap: wrap-reverse;
    align-items: center;



}