/*Cascading Style Sheets: Hoja de estilos en cascadas: CSS*/
/*el primer valor siempre es arriba, el segundo valor es derecha el tercero abajo y el cuato en la izquierda*/

body {
  background-image: url(img/fondo-página.png);
  background-repeat: repeat-y;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur();
  color: aliceblue;
}

#Titulo-General {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-family: Tahoma;
  text-transform: uppercase;
  text-align: center;
}

.ListadeGatos1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(192, 181, 20);
  text-transform: uppercase;
}

.Listaquenoquieren {
  color: rgb(179, 7, 7);
}

P,
ul,
ol {
  font-size: 20px;
}

li {
  font-family: Tahoma;
  font-weight: 600;
  color: darkslateblue;
  font-size: 15px;
}

img {
  width: 200px; /*ancho*/
  border-width: 5px; /*Tamaño de borde*/
  border-color: rgb(100, 100, 100); /*Color del borde*/
  border-style: solid; /*Estilod de borde, */
}

.img-gatitos {
  border-radius: 50%;
  border-color: blur(5px);
}

.img-otros {
  border-radius: 10px;
  border-style: none;
}

div {
  background-color: rgba(255, 222, 222, 0.13);
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  border-width: 5px;
  border-color: rgb(214, 212, 74);
  border-style: solid;
  border-radius: 10px;
  margin: 30px; /*distancia del borde con el resto de elemeto que lo rodea*/
  padding: 13px; /*distancia del elemento con el borde*/
}

img[alt] {
  border-color: rgb(230, 186, 42);
}

[type="radio"] {
  margin: 10px 0px 5px 0px;
}

a[href="https://www.facebook.com/?locale=es_LA"] {
  color: chocolate;
  font-family: Tahoma;
}

#Contenedor-principal {
  background-color: yellow;
  font-size: 25px;
}

.rectangulo {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 0px;
  font-family: Tahoma;
  font-weight: 600;
}

.px {
  background-color: rgb(255, 0, 0);
  width: 200px;
}

.vw {
  background-color: aqua;
  width: 20vw; /*relativa al tamaño de la vista*/
}

.em {
  background-color: black;
  width: 15em;
  font-size: 1.5em;
}

.Parrafo {
  /*0-9 A-F */
  /* 00    00    00*/
  /* rojo verde azul*/
    color: #da094e;
    text-decoration: none;

}
